.login{
    background-color: #F6F6F6;
}

.login center > div{
    width: 55%;
    padding:50px 0;
}


.login center > div > div{
    border-radius: 13px;
    background: #eee;
}

.login .login-heading{
    color: #fff;
    background-color: #009FE3;
    border-color: #ddd;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login .login-heading h2{
    margin: 0;
    text-align: left;
    font-weight: 500;
    line-height: 1.1;
    font-size: 1.7em;
    font-family: 'Josefin Sans', sans-serif;
}

.login .login-body{
    padding: 20px 0; 
    border-bottom: 1px solid #ddd; 
}

.login .login-body form{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd; 
    font-family: 'Josefin Sans', sans-serif; 
}

.login .login-body form > input{
    background-color: #5CB85C;
    color: #fff;
    cursor: pointer;
}

.login .login-body form > input:hover{
    background-color: #4cae4c;
}

.login .login-body input:not([type="checkbox"]){
    padding: 13px;
    width: 85%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0;
}

.login .login-body > input[type="submit"]{
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.login .login-body > input[type="submit"]:nth-of-type(1){
    background-color: #3276b1;
}

.login .login-body > input[type="submit"]:nth-of-type(1):hover{
    background-color: #2e6da4;
}

.login .login-body > input[type="submit"]:nth-of-type(2){
    background-color: #5bc0de;
}

.login .login-body > input[type="submit"]:nth-of-type(2):hover{
    background-color: #46b8da;
}

.login .login-body > input[type="submit"]:nth-of-type(3){
    background-color: #e74c3c;
}

.login .login-body > input[type="submit"]:nth-of-type(3):hover{
    background-color: #c0392b;
}

.login .login-body div.checkbox{
    text-align: left;
    padding: 15px 50px 20px
}

.login .login-body > h4{
    margin-top: 10px;
    color: #6A6A6A;
    font-family: 'Josefin Sans', sans-serif;

}

.login .register{
    padding: 10px 20px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
}
.login .register h3{
    background-color: #e2e2e2;
    padding: 5px;
    font-weight: lighter;
    color: #8e8e8e;
}

.login .register h3 a{
    text-decoration: none;
    color: #009FE3
}


.login .errorMessage{
    color: #fff;
    padding: 50px 0 10px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    display: none;
}

.login .errorMessage p{
    margin: 0;
    background-color: #e74c3c;
    padding: 15px;
    border-radius: 10px;
}